.outter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.checkbox{
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: row;
   
    a{
        text-decoration: none;
        color: #fff;
    }
    a:hover{
        color: $primaryColor;
    }
    .checkbox-list{
        border: 1px solid #000;
        padding: 12px 36px;
        border-radius: 3px;
        font-size: 1.2rem;
        color: #fff;
        background-color: $secondaryColor;
    }
    .checkbox-list2{
        background-color: $thirdaryColor;
    }
   
    
}